.nav-link{
  cursor: pointer;
}

.dropdown-item{
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;

  width: 100%;
  height: 33px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  background: #5bc0de;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
}

option {
  color: #666;
  padding-bottom: 10px;
}

.select-wrapper {
  width: 200px;
  position: relative;
}

.select-wrapper::before {
  font-family: fontello;
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}
