<div class="container-fluid">
  <div class="col-sm-12">

    <div class="row pb-4">
      <div class="row">
        <div class="col-md-9">
          <span>Please select the region you want to see the Covid-19 statistics: </span>
        </div>
        <div class="col-md-3">
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Please select a region
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="onSelectState('Germany', 'Germany')">Germany</a>
              <a class="dropdown-item" *ngFor="let key of stateObjectKeys" (click)="onSelectState(key, stateObjects[key].name)">{{ stateObjects[key].name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pb-4" *ngIf="currentStateCode">
      <div class="col-md-7">
        <span>Please select a time interval: </span>
        <br><br>
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link" [class.active]="timeInterval === 'today'" (click)="getStateInfo(currentStateCode)" id="todayLinkId">today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="timeInterval === '7days'" (click)="getStateInfoWithDays(currentStateCode, 7)">last 1 Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="timeInterval === '14days'" (click)="getStateInfoWithDays(currentStateCode, 14)">last 2 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="timeInterval === '21days'" (click)="getStateInfoWithDays(currentStateCode, 21)">last 3 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="timeInterval === '28days'" (click)="getStateInfoWithDays(currentStateCode, 28)">last 4 Weeks</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row" *ngIf="currentStateResponse.stateName && timeInterval === 'today'">
      <div class="col-md-12">
        <hr>
        <table class="table">
          <tbody>
          <tr>
            <td colspan="3" class="text-center h3">{{ currentStateResponse.stateName }}</td>
          </tr>
          <tr>
            <td class="text-center bg-primary text-whitee h5">Cases</td>
            <td class="text-center bg-danger text-whitee h5">Deaths</td>
            <td class="text-center bg-success text-whitee h5">Recovered</td>
          </tr>
          <tr>
            <td class="text-center bg-primary text-white">
              {{ currentStateResponse.stateCases }}
            </td>
            <td class="text-center bg-danger text-white">
              {{ currentStateResponse.stateDeaths }}
            </td>
            <td class="text-center bg-success text-white">
              {{ currentStateResponse.stateRecovered }}
            </td>
          </tr>
          </tbody>
        </table>
        <br><br>
      </div>
    </div>

    <div class="row" *ngIf="timeInterval !== '' && timeInterval !== 'today' && currentStateResponseWithDays.length !== 0">
      <div class="col-md-12">
        <hr>
        <table class="table">
          <thead>
          <tr>
            <td colspan="4" class="text-center h3">{{ currentStateName }}</td>
          </tr>
          <tr>
            <th scope="col" class="h5">Date</th>
            <th scope="col" class="text-center bg-primary text-white h5">Cases</th>
            <th scope="col" class="text-center bg-danger text-white h5">Deaths</th>
            <th scope="col" class="text-center bg-success text-white h5">Recovered</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tempCombinedResponse of currentStateResponseWithDays">
            <td [class.h5]="tempCombinedResponse.date === 'Total'">
              {{ tempCombinedResponse.date === 'Total' ? 'Total' : tempCombinedResponse.date | date: 'dd.MM.yyyy, EEEE' }}
            </td>
            <td class="text-center bg-primary text-white fs-6">{{ tempCombinedResponse.cases }}</td>
            <td class="text-center bg-danger text-white fs-6">{{ tempCombinedResponse.deaths }}</td>
            <td class="text-center bg-success text-white fs-6">{{ tempCombinedResponse.recovered }}</td>
          </tr>
          </tbody>
        </table>
        <br><br>
      </div>
    </div>

    <div class="row" *ngIf="chartIstSichtbar && chartDataset.length !== 0">
      <div class="col-md-12">
        <div class="chart-wrapper" style="width: 60%">
          <div class="row">
            <div class="col-md-3">
              <span>You can change the chart typ: </span>
            </div>
            <div class="col-md-2">
              <select [(ngModel)]="chartTyp">
                <option *ngFor="let chartText of chartTypArray" [ngValue]=chartText>{{ chartText }}</option>
              </select>
            </div>
          </div>
          <br><br>

          <canvas baseChart
                  [chartType]="chartTyp"
                  [datasets]="chartDataset"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true">
          </canvas>
          <br><br>
        </div>
      </div>
    </div>

  </div>
</div>
<br><br><br>
