/* You can add global styles to this file, and also import other style files */
@import "styles/spinner.css";

@import "styles/dreher.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: beige;
  font-size: 16px;
}
